@tailwind base;
@tailwind components;
@tailwind utilities;

.h-14{
    height: 3.6rem;
}

.h-9{
    height: 2.25rem;
}
.w-cstm{
    width: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1F2F4;
  }

  .app-container {
    transition: filter 0ms ease;
  }
  .blur-background {
    filter: blur(5px);
  }